:root { 
    --bordas: red;
    --lb-text: red;
}



* {
    /* background-color: none; */
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 10px; */
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    background: linear-gradient(45deg, green, cyan);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: lightgray;
    border-bottom: 2px solid  black;
    border-radius: 5px;
    box-shadow: -4px -4px 8px greenyellow;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    max-height: 400px;
    max-width: 300px;
    margin: 40px auto;
    padding: 15px;
    width: 90%;

}

form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

}

h2 {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
}

button {
    align-items: center;
    background-color: rgb(0, 200, 200);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}

button:hover {
    background-color: green;
}

p {

    font-size: 0.7rem;
    margin-bottom: 10px;
    text-align: center;
}

.lb-input {
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 10px;

}

.btn-input {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 2px;
    padding: 10px;
    width: 100%;

}

.btn-input:hover {
    border: 1px solid green;
}

.btn-input:active {
    border: 1px solid blueviolet;
}

.btn-input:focus {
    border: 1px solid red;
}
div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

input[type="checkbox" ] {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 2px;
}

label[for="btn-lembrar"] {
    display: inline-block;
    font-size: 0.7rem;
    cursor: pointer;
}